#TeX adjacent files
*.aux
*.bbl
*.bcf
*.blg
*.run.xml
*.toc
*.log
*.pdf
*.bbl
manuscript/main.fls
*.fdb_latexmk
manuscript/*.aux
manuscript/main.aux
.gitignore
manuscript/main.synctex.gz
*/*.fls
*/*.fdb_latexmk